# Assignment 1: Data Exploration
Tasks:
Load the banking_data.csv file using Pandas.
Display the first 5 rows of the dataset.
Use .describe() to generate basic statistics of the numerical columns (e.g., Transaction_Amount, Account_Balance).
Check for missing values in the dataset.
Objective:
Understand how to load and inspect the dataset.
Use basic descriptive statistics and data integrity checks.

In [3]:
import pandas as pd
df = pd.read_csv('Day_9_banking_data.csv')
print(df.head())
print(df.describe())
print(df.isnull().sum())

         Date       Account_Type    Branch Transaction_Type  \
0  2023-01-19      Fixed Deposit   Central     Loan Payment
1  2023-01-16            Current    Uptown       Withdrawal
2  2023-01-10            Current    Uptown     Loan Payment
3  2023-01-18            Savings    Uptown     Loan Payment
4  2023-01-14  Recurring Deposit  Suburban     Loan Payment

   Transaction_Amount  Account_Balance
0              985.51          6839.59
1              641.43          8908.39
2             3363.85         12428.67
3             1914.60          5776.63
4             2788.57          4779.04
       Transaction_Amount  Account_Balance
count           20.000000        20.000000
mean          2705.829500      7967.766500
std           1429.829787      2770.248821
min            641.430000      2592.160000
25%           1482.085000      6460.127500
50%           2567.645000      7905.275000
75%           4121.525000      9127.702500
max           4683.640000     12836.510000
Date                  0
Account_Type          0
Branch                0
Transaction_Type      0
Transaction_Amount    0
Account_Balance       0
dtype: int64

# Assignment 2: Data Aggregation and Grouping
Tasks:
Group the data by Account_Type and calculate:
The total sum of Transaction_Amount.
The average Account_Balance for each account type.
Group the data by Branch and calculate:
The total number of transactions per branch.
The average transaction amount per branch.
Objective:
Learn to use groupby() for aggregating data by categories.
Gain skills in calculating grouped statistics.

In [5]:
account_type_group = df.groupby('Account_Type').agg(
    total_transaction_amount=('Transaction_Amount', 'sum'),
    average_account_balance=('Account_Balance', 'mean')
)
print(account_type_group)

branch_group = df.groupby('Branch').agg(
    total_transactions=('Transaction_Amount', 'count'),
    average_transaction_amount=('Transaction_Amount', 'mean')
)
print(branch_group)

                   total_transaction_amount  average_account_balance
Account_Type
Current                            15052.57              9893.404000
Fixed Deposit                      14102.59              6120.380000
Recurring Deposit                  15179.99              7627.283333
Savings                             9781.44              9134.110000
          total_transactions  average_transaction_amount
Branch
Central                    8                 2942.338750
Downtown                   3                 3188.703333
Suburban                   5                 2773.278000
Uptown                     4                 1786.345000