## 2) Create a List, tuple and Dictionary with 5 elements in it and how to access few elements based on the index. Try  with different examples

In [ ]:
## LIST

In [1]:

my_list = [10, 20, 30, 40, 50]

first_element = my_list[0]  
third_element = my_list[2]  
last_element = my_list[-1]  

print("First element:", first_element)
print("Third element:", third_element)
print("Last element:", last_element)

First element: 10
Third element: 30
Last element: 50

In [3]:
## TUPLE

In [5]:

my_tuple = ('apple', 'banana', 'cherry', 'date', 'elderberry')

second_element = my_tuple[1]  
fourth_element = my_tuple[3]  
negative_index_element = my_tuple[-2] 

print("Second element:", second_element)
print("Fourth element:", fourth_element)
print("Second-to-last element:", negative_index_element)

Second element: banana
Fourth element: date
Second-to-last element: date

In [7]:
## DICTIONARY

In [9]:
my_dict = {
    'name': 'John',
    'age': 25,
    'city': 'New York',
    'job': 'Engineer',
    'hobby': 'Reading'
}

name_value = my_dict['name'] 
city_value = my_dict['city'] 
job_value = my_dict['job'] 

print("Name:", name_value)
print("City:", city_value)
print("Job:", job_value)

Name: John
City: New York
Job: Engineer