#### Assignment 1: Sorting and Ranking Data
Tasks:
Sort the dataset by Account_Balance in descending order and display the first 10 rows.
Create a ranking column for Transaction_Amount within each Branch:
Use rank() to give ranks for transactions based on their amounts within each branch.
Objective:
Learn how to sort data and apply ranking based on certain columns.

In [2]:
import pandas as pd

# Sample DataFrame
data = {
    'Transaction_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Transaction_Amount': [1000, 2500, 1500, 3000, 500, 4500, 1200, 6000, 800, 700],
    'Transaction_Type': ['Loan Payment', 'Deposit', 'Loan Payment', 'Withdrawal', 'Loan Payment',
                         'Deposit', 'Withdrawal', 'Loan Payment', 'Deposit', 'Withdrawal'],
    'Account_Balance': [6000, 3000, 7000, 4000, 5500, 8000, 2000, 10000, 1500, 2500],
    'Branch': ['Downtown', 'Uptown', 'Uptown', 'Downtown', 'Uptown',
               'Downtown', 'Uptown', 'Uptown', 'Downtown', 'Uptown']
}

df = pd.DataFrame(data)

# 1. Sort the dataset by Account_Balance in descending order and display the top 10 rows
sorted_df = df.sort_values(by='Account_Balance', ascending=False)
top_10_rows = sorted_df.head(10)

# 2. Rank transactions within each branch based on Transaction_Amount
df['Transaction_Rank'] = df.groupby('Branch')['Transaction_Amount'].rank(ascending=False, method='dense')

# Display results
print("Top 10 rows sorted by Account_Balance:\n", top_10_rows)
print("\nDataFrame with Transaction Ranking within each Branch:\n", df)

Top 10 rows sorted by Account_Balance:
    Transaction_ID  Transaction_Amount Transaction_Type  Account_Balance  \
7               8                6000     Loan Payment            10000
5               6                4500          Deposit             8000
2               3                1500     Loan Payment             7000
0               1                1000     Loan Payment             6000
4               5                 500     Loan Payment             5500
3               4                3000       Withdrawal             4000
1               2                2500          Deposit             3000
9              10                 700       Withdrawal             2500
6               7                1200       Withdrawal             2000
8               9                 800          Deposit             1500

     Branch
7    Uptown
5  Downtown
2    Uptown
0  Downtown
4    Uptown
3  Downtown
1    Uptown
9    Uptown
6    Uptown
8  Downtown

DataFrame with Transaction Ranking within each Branch:
    Transaction_ID  Transaction_Amount Transaction_Type  Account_Balance  \
0               1                1000     Loan Payment             6000
1               2                2500          Deposit             3000
2               3                1500     Loan Payment             7000
3               4                3000       Withdrawal             4000
4               5                 500     Loan Payment             5500
5               6                4500          Deposit             8000
6               7                1200       Withdrawal             2000
7               8                6000     Loan Payment            10000
8               9                 800          Deposit             1500
9              10                 700       Withdrawal             2500

     Branch  Transaction_Rank
0  Downtown               3.0
1    Uptown               2.0
2    Uptown               3.0
3  Downtown               2.0
4    Uptown               6.0
5  Downtown               1.0
6    Uptown               4.0
7    Uptown               1.0
8  Downtown               4.0
9    Uptown               5.0