# Assignment 1: Filtering Data Based on Conditions
Tasks:
Filter out all rows where the Transaction_Amount is greater than 2000.
Find all rows where the Transaction_Type is "Loan Payment" and the Account_Balance is greater than 5000.
Extract transactions made in the "Uptown" branch.
Objective:
Practice filtering data using conditions and boolean indexing.

In [1]:
import pandas as pd

# Example DataFrame
data = {
    'Transaction_ID': [1, 2, 3, 4, 5],
    'Transaction_Amount': [1000, 2500, 1500, 3000, 500],
    'Transaction_Type': ['Loan Payment', 'Deposit', 'Loan Payment', 'Withdrawal', 'Loan Payment'],
    'Account_Balance': [6000, 3000, 7000, 4000, 5500],
    'Branch': ['Downtown', 'Uptown', 'Uptown', 'Downtown', 'Uptown']
}

df = pd.DataFrame(data)

# 1. Filter out rows where Transaction_Amount is greater than 2000
filtered_df_1 = df[df['Transaction_Amount'] <= 2000]

# 2. Find rows where Transaction_Type is "Loan Payment" and Account_Balance > 5000
filtered_df_2 = df[(df['Transaction_Type'] == 'Loan Payment') & (df['Account_Balance'] > 5000)]

# 3. Extract transactions made in the "Uptown" branch
filtered_df_3 = df[df['Branch'] == 'Uptown']

# Display the filtered data
print("Filtered Data 1 (Amount <= 2000):\n", filtered_df_1)
print("\nFiltered Data 2 (Loan Payment and Balance > 5000):\n", filtered_df_2)
print("\nFiltered Data 3 (Uptown Branch Transactions):\n", filtered_df_3)

Filtered Data 1 (Amount <= 2000):
    Transaction_ID  Transaction_Amount Transaction_Type  Account_Balance  \
0               1                1000     Loan Payment             6000
2               3                1500     Loan Payment             7000
4               5                 500     Loan Payment             5500

     Branch
0  Downtown
2    Uptown
4    Uptown

Filtered Data 2 (Loan Payment and Balance > 5000):
    Transaction_ID  Transaction_Amount Transaction_Type  Account_Balance  \
0               1                1000     Loan Payment             6000
2               3                1500     Loan Payment             7000
4               5                 500     Loan Payment             5500

     Branch
0  Downtown
2    Uptown
4    Uptown

Filtered Data 3 (Uptown Branch Transactions):
    Transaction_ID  Transaction_Amount Transaction_Type  Account_Balance  \
1               2                2500          Deposit             3000
2               3                1500     Loan Payment             7000
4               5                 500     Loan Payment             5500

   Branch
1  Uptown
2  Uptown
4  Uptown

#### Assignment 2: Data Transformation 
- Tasks:
Add a new column called Transaction_Fee, calculated as 2% of Transaction_Amount.
Create a new column Balance_Status:
If Account_Balance is greater than 5000, label it as "High Balance".
Otherwise, label it as "Low Balance".
-Objective:
Learn how to create new columns and apply transformations based on existing data.

In [5]:
import pandas as pd

# Sample DataFrame
data = {
    'Transaction_ID': [1, 2, 3, 4, 5],
    'Transaction_Amount': [1000, 2500, 1500, 3000, 500],
    'Transaction_Type': ['Loan Payment', 'Deposit', 'Loan Payment', 'Withdrawal', 'Loan Payment'],
    'Account_Balance': [6000, 3000, 7000, 4000, 5500],
    'Branch': ['Downtown', 'Uptown', 'Uptown', 'Downtown', 'Uptown']
}

df = pd.DataFrame(data)

# 1. Add a new column 'Transaction_Fee' (2% of Transaction_Amount)
df['Transaction_Fee'] = df['Transaction_Amount'] * 0.02

# 2. Create a new column 'Balance_Status'
df['Balance_Status'] = df['Account_Balance'].apply(lambda x: 'High Balance' if x > 5000 else 'Low Balance')

# Display the transformed DataFrame
print(df)

   Transaction_ID  Transaction_Amount Transaction_Type  Account_Balance  \
0               1                1000     Loan Payment             6000
1               2                2500          Deposit             3000
2               3                1500     Loan Payment             7000
3               4                3000       Withdrawal             4000
4               5                 500     Loan Payment             5500

     Branch  Transaction_Fee Balance_Status
0  Downtown             20.0   High Balance
1    Uptown             50.0    Low Balance
2    Uptown             30.0   High Balance
3  Downtown             60.0    Low Balance
4    Uptown             10.0   High Balance